/* src/styles/SearchBar.css */
.search-bar {
  margin-bottom: 20px;
   text-align: center;

}

.search-bar input {
  padding: 8px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
}